<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jelly Canvas</title>
</head>

<body>
    <h1>Move your mouse through the circle</h1>
    <canvas id="drawOnMe" width="600" height="600"></canvas>
</body>

</html>
